bin
*.o
*.obj
built-in*
.built
.tmp*
*.d
*.pdb
.*.cmd
.config*
include/config
include/generated
include/autoconf.h
include/embedded_scripts.h
include/bbconfigopts.h
include/bbconfigopts_bz2.h
include/common_bufsiz.h
include/common_bufsiz.h.method
.kconfig.d
.kernelrelease

scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/lex.zconf.c

scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/xconf
scripts/kconfig/gconf
scripts/kconfig/lxdialog/lxdialog
scripts/kconfig/.tmp_gtkcheck
scripts/kconfig/lkc_defs.h

scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
