config PLAT_POSIX_LIKE
	bool
	default n

config PLAT_NEEDS_INTERNAL_LIBC
	bool
	default n
	select PLAT_NEEDS_INTERNAL_PRINTF

config PLAT_NEEDS_INTERNAL_PRINTF
	bool
	default n

config PLAT_NEEDS_FAKE_64BIT_MATH
	bool
	default n

config PLAT_NEEDS_FLUSH_OUTPUT
	bool
	default n

config PLAT_CAN_HAVE_MULTIPLE_INTERFACES
	bool
	default n

config GFX_NEEDS_LIBGL
	bool
	default n

config GFX_NEEDS_LIBX11
	bool
	default n

config GFX_GLX
	bool "Xorg/GLX graphics support"
	default y
	depends on PLAT_POSIX_LIKE
	select GFX_NEEDS_LIBGL
	select GFX_NEEDS_LIBX11

config GFX_RAW_XORG
	bool "Direct Xorg/Xlib graphics support"
	default y
	depends on PLAT_POSIX_LIKE
	select GFX_NEEDS_LIBX11

config GFX_WAYLAND
	bool "Wayland/EGL graphics support"
	default y
	depends on PLAT_POSIX_LIKE

config GFX_DRM
	bool "DRM/KMS graphics support"
	default y
	depends on PLAT_POSIX_LIKE

config GFX_FB
	bool "Framebuffer graphics support"
	default y
	depends on PLAT_POSIX_LIKE

config NET_MAX_INT
	int "Maximum allowed network interfaces"
	default 8 if PLAT_CAN_HAVE_MULTIPLE_INTERFACES
	default 1 if !PLAT_CAN_HAVE_MULTIPLE_INTERFACES
	range 1 32767 if PLAT_CAN_HAVE_MULTIPLE_INTERFACES
	range 1 1 if !PLAT_CAN_HAVE_MULTIPLE_INTERFACES

config NET_MAX_PKT_KB
	int "Maximum packet size in kilobytes"
	default 64
	help
	  This is the maximum size of packet that can be recieved.
	  If a packet is recieved that is larger than this, it will
	  be truncated to fit.

	  EverythingNet will allocate this much memory during startup,
	  so do be careful what you set here if you have a constrained device.
